@font-face {
  font-family: 'iconfont';  /* project id 260143 */
  src: url('//at.alicdn.com/t/font_3w0yoyelxb5r8uxr.eot');
  src: url('//at.alicdn.com/t/font_3w0yoyelxb5r8uxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_3w0yoyelxb5r8uxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_3w0yoyelxb5r8uxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_3w0yoyelxb5r8uxr.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-login:before { content: "\e622"; }

.icon-back:before { content: "\e669"; }

.icon-sousuo:before { content: "\e63a"; }

.icon-fanhui:before { content: "\e61b"; }

.icon-sousuo1:before { content: "\e63f"; }

.icon-shouye:before { content: "\e604"; }

.icon-login1:before { content: "\e6c5"; }

.icon-icon:before { content: "\e60f"; }

.icon-shouye2-copy:before { content: "\e600"; }

.icon-suo:before { content: "\e6a6"; }

.icon-suo1:before { content: "\e629"; }

.icon-shouyeshouye:before { content: "\e637"; }
.icon-fenlei:before { content: "\e601"; }
.icon-haodian:before { content: "\e605"; }
.icon-quanzi:before { content: "\e64c"; }
.icon-wode:before { content: "\e62a"; }
/*个人中心*/
.icon-weibiaoti2:before { content: "\e62b"; }
.icon-shoucang:before { content: "\e60b"; }
.icon-gouwuche1:before { content: "\e650"; }
.icon-dingdan:before { content: "\e642"; }
.icon-lianxikefu:before { content: "\e626"; }
.icon-shezhizhongxin:before { content: "\e621"; }
.icon-shouhuodizhi:before { content: "\e619"; }
.icon-qita:before { content: "\e618"; }
.icon-fanhuidingbujiantou:before { content: "\e6aa"; }
.icon-fanhui1:before { content: "\e602"; }
.icon-duihuanchenggong:before { content: "\e606"; }
.icon-fail:before { content: "\e662"; }

.icon-huifu:before { content: "\e614"; }
/*热销推荐降价*/
.icon-quanbu:before { content: "\e69d"; }
.icon-bendirexiao:before { content: "\e616"; }
.icon-recommend:before { content: "\e610"; }
.icon-jiangjia:before { content: "\e72e"; }
.icon-shanchu:before { content: "\e71f"; }